@{
    ViewBag.Title = "Pagina de inicio";
}


<div class="row">
    <div class="panel panel-default">
        <h1 class="panel-body text-center">
            Bienvenido a Assigment Tool
        </h1>
    </div>
</div>